*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  background-color: rgb(246, 247, 248);
  text-wrap: pretty;
  font-size: 14px;
  line-height: 1.6;
}
p {
  font-family: monospace;
}
ul.menu li {
  float: left;
}
a.header-nav {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
a.header-nav:link,
a.header-nav:visited {
  text-decoration: none;
  color: white;
}
a.header-nav:hover {
  background-color: #337a93;
}
li.main-links a {
  padding: 10px;
  text-decoration: none;
}
li.main-links a:link,
li.main-links a:visited {
  text-decoration: none;
  color: black;
}
li.main-links a:hover {
  background-color: rgb(217, 218, 220);
}

.menu {
  overflow: hidden;
  background-color: #3d8fad;
}
.main {
  display: flex;
  justify-content: flex-start;
}
.main-body {
  width: 70%;
  padding: 5%;
}
.main-img {
  padding: 0;
  width: 30%;
}
#main-img {
  width: 100%;
  padding: 10%;
  display: none;
}
.main-menu {
  padding: 2px;
  margin: 20px 5px;
  font: small-caps 16px/2.5 "Times New Roman", serif;
  
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .main-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #main-img {
    width: 60%;
    padding: 10px;
    height: auto;
  }
  .main-body {
    width: 100%;
  }
}