*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}

body {
  background-color: rgb(46, 46, 46);
  font-family: Verdana, sans-serif;
  color: white;
}

h1 {
  font-family: 'Times New Roman', serif;
  text-align: center;
  padding: 15px;
}
h2 {
  margin-top: 40px; /* block separation without blocks. temporary solution */
  margin-bottom: 20px;
  font-size: 3;
  text-align: center;
  font-family: 'Times New Roman', serif;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font: small-caps 1.5em 'Times New Roman', serif;
  color: rgb(0, 174, 0);
  text-align: center;
}
p {
  font: 1em/1.5 Verdana, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(64, 64, 64);
  padding: 1px 15px;
}
.header-image {
  width: 20%; padding: 10px;
}
.header-name {
  font: bold 25px 'Times New Roman', serif;
  padding: 0px 25px;  
}

.main {
  display: flex;
}
.main aside {
  flex: 0 0 20%;
}
.main-body {
  flex: 0 0 60%;
}
.main-contact_info {
  font-style: italic;
  color: green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}
.main-contact_info div {
  margin: 5px 10px;
}
.main-bubbles_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bubble {
  display: inline;
  margin: 5px;
  padding: 2px 10px;
  border: 2px solid rgb(0, 174, 0);
  border-radius: 30px;
  background-color: white;
  color: black;
  font-weight: bold;
  line-height: 2.3;
  white-space: nowrap;
}

.footer {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  background-color: rgb(64, 64, 64);
}
a.pg:link, a.pg:visited {
  color: white;
  text-decoration: none; 
  display: inline;
}

@media (max-width: 600px) {
  .main aside {
    flex: 0 0 0%;
    display: none;
  }
  .main-body {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}