body {
  background-color: cornsilk;
  text-wrap: pretty;
  font-size: 14px;
  line-height: 1.6;
}
p {
  font-family: monospace;
}
.menu {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  color: cornsilk;
  background-color: #666666;
}
li {
  float: left;
}
li a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
li a:link, a:visited {
  text-decoration: none;
  color: cornsilk;
}
li a:hover {
  background-color: #444444;
}
.float-img {
  float: left;
  list-style-type: none;
  padding: 0;
  width: 40%;
}
#joke-img {
  width: 90%;
  margin: 5%;
}
.article {
  float: left;
  width: 50%;
  padding: 5%;
}

@media (max-width: 600px) {
  .float-img {
    width: 100%;
    height: auto;
  }
  .article {
    width: 90%;
    height: auto;
  }
}